.profil{
    font-family: Montserrat, sans-serif;
}
.text-profil{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: rgb(254, 254, 254);
    background-color: rgba(3, 3, 3, 0.122);
}
.data{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: left;
}
.data p{
    display: flex;
    color: black;
}
.button button{
    background-color: rgba(0, 0, 132, 0.865);
    color: white;
}
.button :hover{
    background-color: rgb(4, 4, 189);
}
.gambar{
    width: 300px;
}